/*Barra de navegacion*/

.navbar {
    padding: 2rem;
    background-color: #85c7e3;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/*Estilos generales*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-family: 'Great Vibes', cursive;
    color: #224dc2;
}

.colordescripcion{
    color: #224dc2;
    margin-top: 40px;
    font-weight: 400;
}

.seccion-oscura {
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.seccion-clara {
    color: black;
    background-color: white;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Great Vibes', cursive;
}

.titulomayor{
    font-size: 3rem;
    padding: 15px 0;
    font-family: 'Great Vibes', cursive;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.seccion-texto {
    font-size: 1rem;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    background-color: #85c7e3;
    border-color: #85c7e3;

}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

/*Seccion Hero*/
.hero {
    background-color: #85c7e3;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.movimiento {
    margin: auto;
    white-space: nowrap;
    border-right: 5px solid;
    width: 20ch; 

    animation: typing 6s infinite alternate steps(12),
    blink .5s infinite step-end alternate;overflow:hidden;
}



@keyframes typing {
    from { width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}


button.descargar {
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}

a{
    color: white;
}

/*
.swal-overlay--show-modal .swal-modal {
background-color: rgb(133, 199, 227);
border-radius: 25px;
}

.swal-button{
    border-radius: 25px;
}
*/

button.saludo {
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}

button.saludo:hover {
    color: #85c7e3;
    background-color: #85c7e3;
}

/* MODAL */
button#btn-abrir-modal{
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}

button#btn-abrir-modal:hover {
    color: #85c7e3;
    background-color: #85c7e3;
    
}

dialog#modal {
    background-color: #85c7e3;
    border-radius: 25px;
    max-width: 50ch;
}

button#btn-cerrar-modal{
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}

#modal::backdrop {
    background-color: rgba(0,0,0,.55);
}

/* Modo oscuro */

button#bdark {
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    padding: 5px;
    border:none;
    background: transparent;
}

button#bdark:hover{
    background-color: black;
    color: white;
}

/*Dark Mode*/
body.darkmode{
    background-color: rgb(0, 0, 0);
    color :#85c7e3
}

.darkmode .navbar{
    background-color: rgb(0, 0, 0, 0);
}

.darkmode .darknav {
    color: white;
}

.darkmode .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    /*background: rgb(2,0,36);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
    background: rgb(43 226 179 / 50%);
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.darkmode .hero{
    background-color: rgb(0, 0, 0, 0);
}

.darkmode header{
    background-color: rgb(12, 12, 22);
    color :white
}

.darkmode header a{
    color: white;
}

.darkmode h1 {
    color: rgb(19 19 126);
}

.darkmode button{
    color: white;
    background: rgb(43 226 179 / 50%);
}

.darkmode button.saludo:hover {
    color: white;
    background-color: rgb(43 226 179 / 50%);
}

.darkmode button#btn-abrir-modal{
    color: white;
    background: rgb(43 226 179 / 50%);
}

.darkmode dialog#modal {
    background-color: rgb(43 226 179/ 80%);
} 

.darkmode button#btn-cerrar-modal {
    color: rgb(0, 0, 0);
    background: rgb(0, 166, 237);
}

.darkmode .colordescripcion{
    /*background: rgb(2,0,36);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: rgb(19 19 126);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 60px;
    color: rgb(43 226 179);
    text-shadow: 0 0 20px rgb(19 19 126);
}

.darkmode .colordescripcion:after{
    content: attr(neon);
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    color: rgb(19 19 126);
    filter: blur(15px);
}

.darkmode .colordescripcion:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: rgb(19 19 126);
    z-index: -2;
    opacity: .5;
    filter: blur(50px);
}


.darkmode .experiencia i{
    background: rgb(43 226 179 / 50%);
}
/*
.darkmode .experiencia-titulo {
    background: rgb(43 226 179 / 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}*/

.darkmode .experiencia .columna{
    padding: 20px;
    border: 2px solid rgb(19 19 126 /50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
    border-radius: 25px;
    color: rgb(255 255 255 / 50%) 
}

.darkmode .experiencia .columna:hover{
    color: white;
    background-color: rgb(43 226 179 / 50%);
}

.darkmode .overlay p {
    font-size: 18px;
    color: rgb(43 226 179); 
}

.darkmode .overlay i {
    color: rgb(43 226 179)
 }
/*
.darkmode .colorletradark {
    background: rgb(43 226 179 / 50%);
    /* background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato; 
}*/

.darkmode .text-bg-primary{
   background: rgb(43 226 179 / 50%)!important;
}



.darkmode .seccion-titulo {
    color: white;
}

.darkmode .seccion-oscura{
    color: white;
    background: rgb(43 226 179 / 50%);
}

.darkmode .card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(0 0 0);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.darkmode .list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(0 0 0);
    border: var(--bs-list-group-border-width) solid rgb(19 19 126);  
}

.darkmode .list-group-item:hover {
    background-color: rgb(43 226 179); 
}

.darkmode .carousel-item{
    color:white;
    background: rgb(43 226 179 / 50%);

}

.darkmode .contacto .rectangulo  {
    margin-top: -5rem;
    background-color:  rgb(34 77 194);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}




.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 1,5rem;
    color: #615151;
}



/* Sobre mi */

.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/* Experiencia */

.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia .columna{
    padding: 20px;
    border: 2px solid rgb(19 19 126 /50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
    border-radius: 25px;
}

.experiencia .columna:hover {
    color: white;
    background-color: #85c7e3;
}

.experiencia i {
    font-size: 2.5rem;
    color: #85c7e3;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

.text-bg-primary {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

/* Proyectos */


/*
.imagencodigo {
    height: 100%;
    width: 100%;
    opacity: 0.6;
}*/

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10%;
    border-radius: 50px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-top: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;

}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

/* Articulos */

.articulos {
    min-height: 500px;
    padding: 30px;
}

.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articulos .card-header {
    font-weight: bold;
}

.list-group-item:hover {
    background-color: #85c7e3;
}

/*Testimonios*/


.testimonios {
    padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.testimonio-info {
    font-weight: bold;
    text-align: center;
}

.textimonio-info p {
    margin-bottom: 0;
}

.testimonio-footer .cliente {
    font-size: 1.2rem;
}

.testimonio-info .cargo {
    font-size: 0.9rem;
    color: #656060;
}

/* Contacto */

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo  {
    margin-top: -5rem;
    background-color: #85c7e3;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    background-color: white;
    color: black;
}

.contacto button i{
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
    color: black;
}

/* Pie de pagina(footer) */

footer {
    min-height: 500px;
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;

}

/* Ir Arriba*/
.btn-scrolltop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #ffc812;
    border: 1px solid #ffc812;
    border-radius: 100%;
    cursor: pointer;
    transform: translateY(100px);
    transition: 0.3s;
}

.btn-scrolltop-on {
    transform: translateY(0px);
}


/*Adaptable (Responsivo)*/

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }   

.overlay i {
    font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }    
}

.testimonio-texto {
    font-size: 18px;
}

@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}

@media screen and (max-width: 700px) {
    .movimiento {
        font-size: 40px;
        font-size: 3.5rem;
    } 
}  

@media screen and (max-width: 541px) {
    .movimiento {
        font-size: 40px;
        font-size: 2.5rem;
    } 
} 

@media screen and (max-width: 371px) {
    .movimiento {
        font-size: 40px;
        font-size: 1.7rem;
    } 
}   

body {
    transition: all o.4s;
}


#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}



/*
.contenedor {
    background-size: cover;
    position: relative;
    z-index: 99;
}

/*
.columna .col-12 .col-md-4 {
    position: absolute;
}*/

/*color bueno #279984*/